@tailwind base;
@tailwind components;
@tailwind utilities;

/* Material Symbols Icons */
@layer components {
    .icon {
        @apply inline-flex items-center justify-center;
    }
}
 
.field {
    @apply m-4 flex;
}

.field label {
    @apply w-64 bg-blue-100;
}

.field input {
    @apply w-32 flex-1;
}