@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clases de iconos */
.fa-icon {
  @apply w-5 text-center mr-2;
  font-size: 1.25rem;
}


.field {
    @apply m-4 flex;
}

.field label {
    @apply w-64 bg-blue-100;
}

.field input {
    @apply w-32 flex-1;
}